.manage-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.no-spots-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


.small-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: 2px solid rgba(203, 0, 0, 0.8);
    border-radius: 3px;
    background-color: rgba(203, 0, 0, 0.8);
    color: white;
    padding: 2px 5px;
    margin-bottom: 15px;
    font-size: 10pt;
    cursor: pointer;
}

.small-button:hover {
    background-color: white;
    color: rgba(203, 0, 0, 0.8);
    border-radius: 2px;
}
