.manage-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.no-spots-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


.small-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: 2px solid #ff3131;
    border-radius: 3px;
    background-color: #ff3131;
    color: white;
    padding: 2px 5px;
    margin-bottom: 15px;
    font-size: 10pt;
    cursor: pointer;
}

.small-button:hover {
    background-color: white;
    color: #ff3131;
    border-radius: 2px;
}
