.review-modal {
    padding: 30px;
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    margin: 0;
}

.review-form {
    /* width: 100%; */
    display: flex;
    align-items: center;
    padding: 0;
}

.review-form textarea {
    width: 100%;
    height: 100px;
}

.rating-input {
    display: flex;
    flex-direction: row;
}

.rating-input .empty {
    color: rgba(159, 159, 159, 1);
}

.rating-input .empty:hover,
.rating-input .filled {
  color: rgba(242, 201, 0, 1);
}
