.delete-spot-modal {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-spot-modal h2 {
    margin: 0;
    font-size: 28pt;
}

.delete-spot-modal h3 {
    width: 70%;
    text-align: center;
}

.delete-spot-buttons {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.delete-spot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid rgba(203, 0, 0, 0.8);
    border-radius: 3px;
    background-color: rgba(203, 0, 0, 0.8);
    color: white;
    padding: 5px 8px;
    font-size: 12pt;
    cursor: pointer;
}

.delete-spot:hover {
    background-color: white;
    color: rgba(203, 0, 0, 0.8);
}

.keep-spot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid darkgray;
    border-radius: 3px;
    background-color: lightgray;
    color: black;
    padding: 5px 8px;
    font-size: 12pt;
    cursor: pointer;
}

.keep-spot:hover {
    background-color: white;
}
