body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.hidden {
    display: none;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    size: 100px;
    padding: 18px 50px;
    height: fit-content;
    border-bottom: 2px solid rgb(227, 224, 224);
};

#homeButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18pt !important;
    gap: 5px;
}

.navButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 5px;
    background: none;
    color: black;
    padding: 10px 20px;
    font-size: 12pt;
    cursor: pointer;
}

.navButton img {
    height: 35px;
}

.create-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 5px;
    background: none;
    color: black;
    padding: 10px 20px;
    font-size: 12pt;
    cursor: pointer;
}

.create-button:hover {
    text-decoration: underline;
    color: #ff3131;
}

.navButton:active {
    background-color: white;
    color: #ff3131;
}

.navButton:hover {
    background-color: white;
    /* text-decoration: underline; */
    color: #ff3131;
}

.navRight {
    display: flex;
    gap: 12px;
    padding-right: 20px;
}

/* .navLeft {
    font-size: 24pt;
} */
