form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 30px;
    font-family: 'Lato', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

input {
    width: 330px;
}

.loginDiv {
    padding: 20px;
    /* padding-bottom: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton {
    width: 40%;
}

.demo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.demo-login:hover {
    text-decoration: underline;
    color: darkblue;
    font-size: bold;
    cursor: pointer;
}

.login-error {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 12pt;
    padding-top: 8px;
}
